@import "fonts/asap/stylesheet.css";
@import "fonts/FontAwesome/font-awesome.css";
@import "color.css";
body{
    font-size:12px;
    font-family:'Asap', Helvetica, Arial, sans-serif;
    background:#F7F8F7;
    color:#333;
    min-height: 100vh;
    background: #f6911f; /* Old Browsers */
    background: -webkit-linear-gradient(top,#f6911f,#c24a1a); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#f6911f,#c24a1a); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#f6911f,#c24a1a); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #f6911f, #c24a1a); /*Standard*/
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Asap', Helvetica, Arial, sans-serif;
}
.uk-container {
    max-width: 860px;
}
header {
    width: 100%;
    height: 120px;
    z-index: 1;
    position: relative;
}
/*header .uk-container {
    max-width: 860px;
}*/
a.dm-logo {
    display: block;
    width: auto;
}
a.dm-logo img {
    width: 90px;
    height: auto;
}

.dm-red {
    background: #E91C24;
}
.dm-blue {
    background: #1E4499;
}
.dm-red-text {
    color: #E91C24;
}
.dm-blue-text {
    color: #1E4499;
}
.dm-topnav {
    position: relative;
}
.dm-topnav a,
.dm-topnav span {
    line-height: 32px;
    border-radius: 16px;
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.dm-topnav a:hover {
    text-decoration: none;
    color: #facc8d;
}
a.dm-keluar {
    background: #E91C24;
}
a.dm-daftar {
    background: #E91C24;
    margin-right: 5px;
    padding: 0 10px 0 20px;
}
a.dm-masuk {
    background: #1E4499;
}
a.dm-masuk:before {
    content: "";
    display: block;
    position: absolute;
    padding:4px;
    top:-4px;
    left:-4px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
}
/*a.dm-masuk:after {
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left: -50%;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #E91C24;
}*/
#mainhome {
    height: 540px;
    width: 960px;
    position: relative;
    margin: -120px auto 0;
}
/*#mainhome:after {
    position: absolute;
    top: 100%;
    height: 75px;
    width: 100%;
    content: "";
    display: block;
    background: url(../../images/duniamain/divider-smile.png) no-repeat center center;
}*/
.dm-home {
    padding: 70px 0 50px;
    position: relative;
    z-index: 0;
}
.dm-main {
    padding: 30px 0 50px;
    position: relative;
    z-index: 0;
}
.dm-box {
    background: #1E4499;
    position: relative;
    border-radius: 20px;
    border: 5px solid #C65509;
    color: #fff;
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
}
.dm-box.pattern {
    background: #1E4499 url(../../images/duniamain/pattern.png);
}
.dm-box:before {
    content: "";
    display: block;
    position: absolute;
    padding:15px;
    top:-15px;
    left:-15px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 28px;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
    -webkit-box-shadow: 0 10px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 10px 5px 0 rgba(0,0,0,0.5);
}
.dm-overlay {
    background: rgba(0,0,0,0.25);
}
.dm-badge {
    height: 70px;
    background: url(../../images/duniamain/badge.png) no-repeat center center;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
}
.dm-icon {
    position: absolute;
}
.dm-icon-1 {
    left: 0;
    bottom: -10px;
}
.dm-icon-2 {
    right: 0px;
    top: 0px;
    transform: translate3d(100%, -65%, 0px);
}
.dm-icon-3 {
    left: 0px;
    bottom: 0px;
    transform: translate3d(-110%, 20%, 0px);
}
.dm-icon-4 {
    right: 0px;
    bottom: 0px;
    transform: translate3d(100%, 0%, 0px);
}
.dm-icon-5 {
    left: 0px;
    top: -60px;
}
.dm-icon-6 {
    right: 0px;
    bottom: 0px;
}
.dm-icon-2-album {
    right: 0px;
    top: 0px;
    transform: translate3d(10%, -100%, 0px);
}
.dm-icon-3-album {
    left: 0px;
    bottom: 0px;
    transform: translate3d(-10%, 0%, 0px);
}
footer > div {
    border-top: 1px solid #fff;
    color: #fff;
    padding: 20px 0;
}
footer .uk-icon {
    color: #c24a1a;
}
.dm-user-gallery {
    position: relative;
    z-index: 0;
}
.dm-thumb-user {
    position: relative;
    background: #fff;
    margin-bottom: 1em;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
}
.dm-thumb-user-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.dm-thumb-user img {
    width: 100%;
    height: auto;
}
.dm-thumb-user:before {
    content: "";
    display: block;
    position: absolute;
    padding:5px;
    top:-5px;
    left:-5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
}
.dm-thumb-user:hover:before {
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}

.dm-user {
    position: relative;
    z-index: 0;
}
.dm-img-user {
    position: relative;
    background: #fff;
    margin-bottom: 1em;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
}
.dm-img-user-wrap,
.dm-img-user img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}
.dm-img-user:before {
    content: "";
    display: block;
    position: absolute;
    padding:5px;
    top:-5px;
    left:-5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
.dm-album {
    color: #fff;
}
.dm-album-img {
    position: relative;
    z-index: 0;
    margin: 1em auto 2em;
    width: 110px;
    height: 200px;
}
.dm-album-img > div {
    overflow: hidden;
    width: 110px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: #000;
    color: #fff;
    font-size: 8em;
    line-height: 200px;
    text-align: center;
}
.dm-album-img > div:before {
    content: "";
    display: block;
    position: absolute;
    padding:5px;
    top:-5px;
    left:-5px;
    width: 110px;
    height: 200px;
    z-index: -1;
    border-radius: 15px;
    background: #f79b22; /* Old Browsers */
    background: -webkit-linear-gradient(left,#f79b22,#facc8d); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,#f79b22,#facc8d); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,#f79b22,#facc8d); /*Fx 3.6-15*/
    background: linear-gradient(to right, #f79b22, #facc8d); /*Standard*/
}
.dm-album-img > div > img {
    position: absolute;
    top:0px;
    left:0px;
    width: 110px;
    height: 200px;
}
.dm-upload {
    position: relative;
    padding: 0 20px;
    line-height: 24px;
    border-radius: 12px;
    background-color: #E91C24;
    color: #fff;
    text-transform: capitalize;
    -webkit-box-shadow:inset 0 0 7px 0 rgba(0,0,0,0.65);
    box-shadow:inset 0 0 7px 0 rgba(0,0,0,0.65);
}
.dm-upload span:before {
    content: "";
    display: block;
    position: absolute;
    padding:4px;
    top:-4px;
    left:-4px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 16px;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
}
.dm-upload:disabled span {
    opacity: 0.5;
}
.dm-poin {
    font-size: 1rem;
    line-height: 1rem;
    height: 1rem;
    position: absolute;
    width: 100%;
    bottom: 27px;
}
/*.dm-hadiah {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-25%, -5%, 0px);
}*/
.dm-home-info {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate3d(0%, -75%, 0px);
}
.dm-home-info * {
    text-align: center;
    font-weight: bold;
}
.dm-btn {
    position: relative;
    display: inline-block;
}
.dm-btn:hover {
    text-decoration: none;
    color: #C65509;
}
.dm-btn span {
    background: #1E4499;
    position: relative;
    display: block;
    color: #fff;
    padding: 0 25px;
    line-height: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid #C65509;
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
}
.dm-btn:hover span {
    text-decoration: none;
    color: #C65509;
}
.dm-btn:before {
    content: "";
    display: block;
    position: absolute;
    padding:6px;
    top:-6px;
    left:-6px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #facc8d; /* Old Browsers */
    background: -webkit-linear-gradient(top,#facc8d,#f79b22); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#facc8d,#f79b22); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#facc8d,#f79b22); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #facc8d, #f79b22); /*Standard*/
}
.dm-videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.dm-videowrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.dm-pagination {
    margin-left: -10px;
}
.dm-pagination>* {
    padding-left: 10px;
}
.dm-pagination>*>* {
    background: #fff;
    color: #1E4499;
    width: 24px;
    line-height: 24px;
    text-align: center ;
    border-radius: 12px;
}
.dm-pagination>.uk-active>* {
    color: #E91C24;
}
.dm-round {
    border-radius: 50px;
}
.dm-search input {
    padding-left: 15px;
}
@media (max-width:959px){
    header {
        height: 100px;
    }
    #mainhome {
        width: 100%;
        margin: 100px auto 0;
        position: relative;
    }
    #mainhome:before {
        content: "";
        display: block;
        width: 100%;
        height: 220px;
        background: #3BCEF0;
        position: absolute;
        top: -220px;
    }
    .dm-home-info {
        left: 0%;
        top: 0%;
        width: 100%;
        transform: translate3d(0%, -60%, 0px);
    }
    .dm-icon {
        -webkit-transform: scale(0.35); /* Saf3.1+, Chrome */
           -moz-transform: scale(0.35); /* FF3.5+ */
            -ms-transform: scale(0.35); /* IE9 */
             -o-transform: scale(0.35); /* Opera 10.5+ */
                transform: scale(0.35);
    }
    .dm-home .dm-icon-1 {
        transform: scale(0.35) translate3d(-100%, 50%, 0px);
    }
    .dm-home .dm-icon-2 {
        transform: scale(0.35) translate3d(120%, -150%, 0px);
    }
    .dm-home .dm-icon-3 {
        transform: scale(0.35) translate3d(-150%, 170%, 0px);
    }
    .dm-home .dm-icon-4 {
        transform: scale(0.35) translate3d(120%, -80%, 0px);
    }
    .dm-tnc .dm-icon-5 {
        transform: scale(0.35) translate3d(-120%, -50%, 0px);
    }
    .dm-tnc .dm-icon-6 {
        transform: scale(0.35) translate3d(120%, 100%, 0px);
    }
    .dm-img-user-wrap,
    .dm-img-user img {
        width: 64px;
        height: 64px;
    }
    .dm-icon-3-album {
        margin-left: -100px;
    }

    .dm-box {
        padding: 0 10px;
    }
    .dm-tnc .dm-box {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    body * {
        font-size: .7rem;
    }
    .dm-thumb-user,
    .dm-thumb-user-img {
        max-width: 64px;
        max-height: 64px;
    }
    .dm-badge {
        height: 50px;
        font-size: 18px;
        line-height: 35px;
        background-size: contain;
    }
}
