#home1 {
    overflow: hidden;
    background-color: #7BD0EB;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
}
.homeslide {
    width: 100%;
    bottom: 0 !important;
    position: absolute;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    perspective: 1400px;
    transform-style: preserve-3d;
    background-color: transparent;
}
@keyframes fadeinslidetext {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slides-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 30%;
    margin-top: -10%;
    animation: fadeinslidetext 4s both;
}
@media (max-width: 639px) {
    .slides-text {
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        max-width: 80%;
        margin-top: -40vh;
        animation: fadeinslidetext 4s both;
    }
}

.gwd-img-1952 {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}

.gwd-img-13ie {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}

.gwd-img-11ze {
    position: absolute;
    width: 6%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(-472px, -22px, 0px);
    opacity: 0;
}

.gwd-img-1tow {
    position: absolute;
    width: 4.65%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(-559px, -69px, 0px);
    opacity: 0;
}

.gwd-img-qmdo {
    position: absolute;
    width: 2.5%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    opacity: 0;
    transform: translate3d(-247px, -9px, 0px);
}

.gwd-img-1183 {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 4%;
    height: auto;
    transform: translate3d(468px, -57px, 0px);
    opacity: 0;
}

.gwd-img-1isj {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 1.5%;
    height: auto;
    transform: translate3d(292px, -20px, 0px);
    opacity: 0;
}

.gwd-img-1090 {
    position: absolute;
    width: 1.5%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(-355px, -15px, 0px);
    opacity: 0;
}

.gwd-img-8c6t {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 1.1%;
    height: auto;
    transform: translate3d(-367px, -28px, 0px);
    opacity: 0;
}

.gwd-img-gncm {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 1.440%;
    height: auto;
    transform: translate3d(-340px, -26px, 0px);
    opacity: 0;
}

.gwd-img-1x45 {
    position: absolute;
    width: 1.45%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(400px, -66px, 0px);
    opacity: 0;
}

.gwd-img-u43i {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 16px;
    height: 9.14px;
    transform: translate3d(386px, -82px, 0px);
    opacity: 0;
}

.gwd-img-6s89 {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    width: 10px;
    height: 5.71px;
    transform: translate3d(413px, -78px, 0px);
    opacity: 0;
}

.gwd-img-1u7v {
    position: absolute;
    left: 0;
    transform-style: preserve-3d;
    top: 0;
    width: 100%;
    height: 100%;
}
/*ground1*/
.gwd-img-15sg {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    left: 0%;
}
@keyframes gwd-gen-arkugwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        bottom: -25%;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        bottom: -6%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-arkugwdanimation {
    animation: gwd-gen-arkugwdanimation_gwd-keyframes 0.5s linear 0s 1 normal forwards;
}

/*ground2*/
.gwd-img-x9n3 {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    left: 0%;
}
@keyframes gwd-gen-e3zbgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(0px, 0%, 0px);
        opacity: 0;
        bottom: -30%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0%, 0px);
        opacity: 1;
        bottom: -1%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-e3zbgwdanimation {
    animation: gwd-gen-e3zbgwdanimation_gwd-keyframes 0.5s linear 0.5s 1 normal forwards;
}

@keyframes gwd-gen-b63vgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0;
        width: 100%;
        bottom: 0;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        width: 100%;
        bottom: 27%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-b63vgwdanimation {
    animation: gwd-gen-b63vgwdanimation_gwd-keyframes 1s linear 1s 1 normal forwards;
}

@keyframes gwd-gen-uhfugwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(-247px, -9px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    33.2% {
        transform: translate3d(-277px, -9px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(-277px, -9px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-uhfugwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(-247px, -9px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(-277px, -9px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-uhfugwdanimation {
    animation: gwd-gen-uhfugwdanimation_gwd-keyframes 0.5s linear 3.5s 1 normal forwards;
}

@keyframes gwd-gen-mm0zgwdanimation_gwd-keyframes {
    0% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(-367px, -28px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(-367px, -28px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-mm0zgwdanimation_gwd-keyframes {
    0% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(-367px, -28px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(-367px, -28px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-mm0zgwdanimation {
    animation: gwd-gen-mm0zgwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-6bfpgwdanimation_gwd-keyframes {
    0% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(-340px, -26px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(-340px, -26px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-6bfpgwdanimation_gwd-keyframes {
    0% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(-340px, -26px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(-340px, -26px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-6bfpgwdanimation {
    animation: gwd-gen-6bfpgwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-174sgwdanimation_gwd-keyframes {
    0% {
        width: 22px;
        height: 17.72px;
        transform: translate3d(292px, -20px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    33.2% {
        width: 22px;
        height: 17.72px;
        transform: translate3d(342px, -20px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
    100% {
        width: 22px;
        height: 17.72px;
        transform: translate3d(342px, -20px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-174sgwdanimation_gwd-keyframes {
    0% {
        width: 22px;
        height: 17.72px;
        transform: translate3d(292px, -20px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 22px;
        height: 17.72px;
        transform: translate3d(342px, -20px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-174sgwdanimation {
    animation: gwd-gen-174sgwdanimation_gwd-keyframes 0.5s linear 3.5s 1 normal forwards;
}

@keyframes gwd-gen-noc2gwdanimation_gwd-keyframes {
    0% {
        width: 58px;
        height: 32.9px;
        transform: translate3d(468px, -57px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    33.64% {
        width: 58px;
        height: 32.9px;
        transform: translate3d(448px, -57px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
    100% {
        width: 58px;
        height: 32.9px;
        transform: translate3d(448px, -57px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-noc2gwdanimation_gwd-keyframes {
    0% {
        width: 58px;
        height: 32.9px;
        transform: translate3d(468px, -57px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 58px;
        height: 32.9px;
        transform: translate3d(448px, -57px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-noc2gwdanimation {
    animation: gwd-gen-noc2gwdanimation_gwd-keyframes 0.5s linear 3.5s 1 normal forwards;
}

@keyframes gwd-gen-pxmqgwdanimation_gwd-keyframes {
    0% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(386px, -82px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(386px, -82px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-pxmqgwdanimation_gwd-keyframes {
    0% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(386px, -82px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 16px;
        height: 9.14px;
        transform: translate3d(386px, -82px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-pxmqgwdanimation {
    animation: gwd-gen-pxmqgwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-o3jkgwdanimation_gwd-keyframes {
    0% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(413px, -78px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(413px, -78px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-o3jkgwdanimation_gwd-keyframes {
    0% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(413px, -78px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        width: 10px;
        height: 5.71px;
        transform: translate3d(413px, -78px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-o3jkgwdanimation {
    animation: gwd-gen-o3jkgwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-196jgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-355px, -15px, 0px);
        animation-timing-function: linear;
    }
    98.62% {
        opacity: 1;
        transform: translate3d(-355px, -15px, 0px);
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(-355px, -16px, 0px);
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-196jgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-355px, -15px, 0px);
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(-355px, -15px, 0px);
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-196jgwdanimation {
    animation: gwd-gen-196jgwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-11a8gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-11a8gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-11a8gwdanimation {
    animation: gwd-gen-11a8gwdanimation_gwd-keyframes 0.5s linear 4s 1 normal forwards;
}

@keyframes gwd-gen-1vbrgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(0px, 0%, 0px);
        opacity: 0;
        width: 100%;
        left: 0%;
        bottom: 0%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0%, 0px);
        opacity: 1;
        width: 100%;
        left: 0%;
        bottom: 21%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1vbrgwdanimation {
    animation: gwd-gen-1vbrgwdanimation_gwd-keyframes 0.5s linear 1s 1 normal forwards;
}

@keyframes gwd-gen-1b4wgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-559px, -69px, 0px);
        animation-timing-function: linear;
    }
    24.93% {
        opacity: 1;
        transform: translate3d(-509px, -69px, 0px);
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(-509px, -69px, 0px);
        animation-timing-function: linear;
    }
}

@keyframes gwd-gen-1b4wgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-559px, -69px, 0px);
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(-509px, -69px, 0px);
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1b4wgwdanimation {
    animation: gwd-gen-1b4wgwdanimation_gwd-keyframes 0.5s linear 3s 1 normal forwards;
}

@keyframes gwd-empty-animation {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}

@keyframes gwd-empty-animation {
    0% {
        opacity: 0.001;
    }
    100% {
        opacity: 0;
    }
}

/*tree3*/
.gwd-img-l3qa {
    position: absolute;
    width: 4.5%;
    height: auto;
    left: 50%;
    margin-left: -23%;
    transform-style: preserve-3d;
    opacity: 0;
}
@keyframes gwd-gen-1yv1gwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(40px, 0px, 0px) rotateZ(30deg);
        opacity: 0;
        bottom: 25%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
        opacity: 1;
        bottom: 25%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1yv1gwdanimation {
    animation: gwd-gen-1yv1gwdanimation_gwd-keyframes 0.5s linear 1.5s 1 normal forwards;
}
/*tree1 left*/
.gwd-img-zgj3 {
    position: absolute;
    width: 5%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    bottom: 0%;
    opacity: 0;
}
@keyframes gwd-gen-1562gwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(-50px, 0px, 0px) rotateZ(-45deg);
        opacity: 0;
        margin-left: -27%;
        bottom: 25%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
        opacity: 1;
        margin-left: -27%;
        bottom: 25%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1562gwdanimation {
    animation: gwd-gen-1562gwdanimation_gwd-keyframes 0.5s linear 1.5s 1 normal forwards;
}
/*tree2*/
.gwd-img-1vix {
    position: absolute;
    width: 5.2%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    opacity: 0;
}

@keyframes gwd-gen-1a9pgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(0px, 0px, 0px) rotateZ(-50deg);
        opacity: 0;
        bottom: 30%;
        margin-left: -10%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
        opacity: 1;
        bottom: 25%;
        margin-left: -7%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1a9pgwdanimation {
    animation: gwd-gen-1a9pgwdanimation_gwd-keyframes 0.5s linear 2s 1 normal forwards;
}

/*tree1right*/
.gwd-img-m246 {
    position: absolute;
    width: 5%;
    height: auto;
    left: 50%;
    transform-style: preserve-3d;
    opacity: 0;
}
@keyframes gwd-gen-1tl3gwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(50px, 0px, 0px) rotateZ(40deg);
        opacity: 0;
        bottom: 24%;
        margin-left: 23%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
        opacity: 1;
        bottom: 24%;
        margin-left: 23%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1tl3gwdanimation {
    animation: gwd-gen-1tl3gwdanimation_gwd-keyframes 0.5s linear 2s 1 normal forwards;
}

/*house*/
.gwd-img-jhwp {
    position: absolute;
    width: 10%;
    height: auto;
    left: 54%;
    transform-style: preserve-3d;
    opacity: 0;
}
@keyframes gwd-gen-1t2zgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0;
        bottom: 30%;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        bottom: 24%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-1t2zgwdanimation {
    animation: gwd-gen-1t2zgwdanimation_gwd-keyframes 0.5s linear 2.5s 1 normal forwards;
}

@keyframes gwd-gen-6xzmgwdanimation_gwd-keyframes {
    0% {
        transform: translate3d(-472px, -22px, 0px);
        opacity: 0;
        animation-timing-function: linear;
    }
    100% {
        transform: translate3d(-472px, -122px, 0px);
        opacity: 1;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-6xzmgwdanimation {
    animation: gwd-gen-6xzmgwdanimation_gwd-keyframes 0.5s linear 3s 1 normal forwards;
}
/*jungle*/
.gwd-img-1wzq {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}
@keyframes gwd-gen-10d6gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        width: 100%;
        left: 0%;
        bottom: 10%;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        width: 100%;
        left: 0%;
        bottom: 22%;
        animation-timing-function: linear;
    }
}

.htmlNoPages .gwd-gen-10d6gwdanimation {
    animation: gwd-gen-10d6gwdanimation_gwd-keyframes 0.5s linear 1s 1 normal forwards;
}
